#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "plainpad"
name = "Plainpad"
description.en = "Note taking application"
description.fr = "Prise de notes auto-hébergée"

version = "1.0.0~ynh4"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://alextselegidis.com/get/plainpad"
demo = "https://alextselegidis.com/try/plainpad/#/login"
admindoc = "https://alextselegidis.com/get/plainpad/self-hosted"
code = "https://github.com/alextselegidis/plainpad"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/plainpad"

    [install.init_main_permission]
    help.en = "If enabled, Plainpad will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Plainpad sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources.main]
    url = "https://github.com/alextselegidis/plainpad/releases/download/1.0.0/plainpad-1.0.0.zip"
    sha256 = "7917e6c4f34f7b6a2095154e95fd5c989deed4f82a8d97e6fa99b534914c3603"
    in_subdir = false

    # Upstream has no proper tag nor releases ...
    #autoupdate.strategy = "latest_github_release"
    #autoupdate.asset = "^plainpad-.*\\.zip"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:rwx"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed="visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.3-zip",
        "php8.3-fileinfo",
        "php8.3-xml",
        "php8.3-bcmath",
        "php8.3-mbstring",
        "php8.3-mysql",
    ]

    [resources.database]
    type = "mysql"
